---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* system typefaces */
$serif      : 'Roboto Slab', serif;
$sans-serif : 'Roboto', sans-serif;
$monospace  : 'Roboto Mono', monospace;
$sans-serif-narrow : 'Roboto Condensed', sans-serif;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;

$nhs-blue: #005EB8;
$nhs-dark-blue: #003087;
$nhs-bright-blue: #0072CE;
$nhs-light-blue: #41B6E6;
$nhs-aqua-blue: #00A9CE;

$background-color: white;
$footer-background-color: $nhs-blue;
$primary-color: $nhs-blue;
$link-color: $nhs-dark-blue;

.underlined{
  position:relative;
}

.underlined:before{
  background-color: $nhs-light-blue;
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 15%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
